.page-padding .dx-tile{ 
    border: 1px solid var(--border-color) !important;
    border-radius: 5px !important;
}

.contract-item-card{
    border-bottom: 10px solid var(--accent-color);
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    height: 100%; 
    width: 100%;
}