.contract-item{ 
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: var(--base-bg);
    border-radius: 8px; 
    display: flex;
}

.contract-item > div:nth-child(1) {
    border: 1px solid var(--border-color);
    border-left: 10px var(--accent-color) solid;
    border-radius: 8px 0 0 8px;
    justify-content: center;
    align-items: center; 
    display: flex; 
    height: auto; 
    width: 220px;
}

.contract-item > div:nth-child(1) > i { font-size: 3rem }

.contract-item-form {
    border: 1px solid var(--border-color);
    border-radius: 0 8px 8px 0;
    padding: 15px !important;
    width: 100%;
}